/* PARALLAX CSS: */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

.parallax-container .section {
  width: 100%;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: relative;
    padding: .2em;
    /*overflow: scroll;*/
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

/* MY CUSTOM CSS: */

#profile-photo {
  border: 2px solid darkgray;
  border-radius: 50%;
}

.flex-container {
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
  /*justify-content: space-around;*/
  /*flex-wrap: wrap;*/
  align-items: center;
  align-content: space-around;
}

.flex-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
}
